/* Variables Color
other colors to play around with: #2b2b2b dark grey #000 black, #006b66 (teal green) */
:root {
  --background-color: #BEE0D9;
  --primary-color: #06495B;
  --secondary-color: #5eaaa8;
  --tertiary-color: #003b4a;
  --mustardYellow: #e0b354;
}
/* Variables for fonts */
:root {
  --fontText: 'Noto Sans', sans-serif;
  --fontHeading: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--background-color);
  color: var(--primary-color); /* means text color */
  font-family: var(--fontText);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  padding: 0;
  margin: 0;
  text-align: center;
}

/* Global */

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-family: var(--fontHeading);
  font-size: 30px;
}

h2 {
  font-family: var(--fontHeading);
  font-size: 25px;
}

h3 {
  font-family: var(--fontHeading);
  font-size: 20px;
}

/* I'm keeping them all the same color */
a:link {
  color: var(--primary-color);
  text-decoration: none;
}

a:visited {
  color: var(--secondary-color);
}

a:hover, a:focus {
  text-decoration: none;
}
a:active {
  color: var(--primary-color);
}

/* combines the styling for the button tag on contact page and button class for the link on about page */
button, .button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color: var(--primary-color);
  color: var(--background-color);
  text-decoration: none;
  /*adds spacing to the button */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  transition-property: opacity
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* combines the styling for the button tag on contact page and button class for the link on about page  */
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  opacity: 0.8;
}
.button, .button:visited{
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
}

.button_secondary {
  background-color: var(--secondary-color);
  color: var(--tertiary-color); /* color suggested by tota11y tool */
}

/* Header */

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.page-header__item {
  flex: 0 1 200px;
}

/* shorter version is also width */
.page-header__item:first-child {
  width: 200px;
  max-height: 71px;
}
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}
/* wanted to make an animation here instead, but don't know how */
.current a{
  color: var(--primary-color)
}

/* Profile Home */

/* CSS code from exercise 1.6 */
.profile {
  min-width: 360px;
  max-width: 1200px;
  margin: 50px auto;
}

.profile_photo {
  float: left;
  width: 250px;
  margin-right: 40px;
  margin-left: 40px;
  border-radius: 50%;
}

.profile-text {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    margin-inline: auto;
  }

span {
  color: var(--mustardYellow);
}
/* About Me */

.about {
  display: inline-block;
}

/* took this solution from w3schools.com, not sure if correct */
.center {
  margin-left: auto;
  margin-right: auto;
}

.berlin-illustration {
  width: 100%;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414
  }
}

/* ‚could also be written short with: animation: 4s color-change etc. in one line */
.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

/* could be written in shortform: .cloud-front {animation: 30s cloud-move infinite alternate linear;} */
.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

/* Work */

/* start grid fallback */
.grid__item {
 display: inline-block;
 width: 33%;
}
/* end grid fallback */

.grid__item {
  background-color: lightgray;
  border: 1px dashed var(--secondary-color);
  width: auto;
  min-height: auto;
  margin: 0;
}

.grid__item:last-child {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
}

/* Contact */

.address {
  /* to override deafault font-style of italic */
  font-style: normal;
  font-size: 16px
}

.standard-label {
  font-weight: 700;
}

/* Footer */
footer {
  font-family: var(--fontText);
  font-weight: 700;
  font-size: 12px;
  line-height: 1.3;
  width: 100%;
  bottom: 0;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.social_media {

}

.credits {

}

/* Media Queries */

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }
}

@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .page-header, .page-header__item{
    flex-direction: column;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  /* shared code */
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}
